.u-section-1 {min-height: 672px}
.u-section-1 .u-image-1 {height: 311px; margin: 44px auto 0 0}
.u-section-1 .u-text-1 {margin: -186px auto 0}
.u-section-1 .u-image-2 {height: 364px; margin: 96px calc(((100% - 1140px) / 2) + -100px) 0 0}
.u-section-1 .u-text-2 {font-weight: 900; width: 702px; margin: -442px auto 0}
.u-section-1 .u-text-3 {background-image: none; font-family: "Rhodium Libre"; margin: 89px calc(((100% - 1140px) / 2) + 198px) 60px calc(((100% - 1140px) / 2) + 246px)} 

@media (max-width: 1199px){ .u-section-1 .u-image-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-2 {margin-top: 104px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-3 {font-weight: bold; margin-right: calc(((100% - 940px) / 2) + 98px); margin-left: calc(((100% - 940px) / 2) + 146px); width: 696px} }

@media (max-width: 991px){ .u-section-1 .u-text-3 {margin-right: calc(((100% - 720px) / 2)); margin-left: calc(((100% - 720px) / 2) + 24px)} }

@media (max-width: 767px){ .u-section-1 .u-text-2 {width: 540px}
.u-section-1 .u-text-3 {margin-right: calc(((100% - 540px) / 2)); margin-left: calc(((100% - 540px) / 2)); width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-text-2 {width: 340px}
.u-section-1 .u-text-3 {margin-right: calc(((100% - 340px) / 2)); margin-left: calc(((100% - 340px) / 2)); width: 340px} }.u-section-2 .u-sheet-1 {min-height: 1280px} 

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1750px} }.u-section-3 .u-sheet-1 {min-height: 177px}